[credential]
    helper = !gh auth git-credential
[core]
    pager = delta
[delta]
    navigate = true
    light = false
    side-by-side = true
    pager = less -R --mouse
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
